@font-face {
    font-family: 'pixel';
    src: url(../assets/font/VCR_OSD_MONO_1.001.ttf);
}

body {
    font-family: sans-serif;
    background: #fdfaf4;
    margin: 0;
    padding: 10px;
    background-color: #FFD05A;
}

.container{
    text-align: center;
    width: 100%;
}

nav
{
    background-color: #FFFCEE;
    border: 2px solid #400101;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 0 20px 0 20px; */
    position: relative;
}

.logo{
    width: 60%;
    max-width: 450px;
    height: auto;
    margin: 20px 0 20px 20px;
    transition: transform 0.3s ease-out;
}

.logo:hover
{
transform: scale(1.05);
}
/*===========================================================================*/
/* Style parametre */
/*===========================================================================*/
.parameter
{
    position: fixed;
    top : 0%;
    right: -100%;
    height: 80%;
    width: 25vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    background-color: #FFFCEE;
    border: 2px solid #400101;
    padding: 20px;
    border-radius: 20px 0 0 20px;
    transition: right 0.3s ease; 
    z-index: 10;
    font-family: 'pixel';
    text-transform: uppercase;
    color: #400101;
    text-align: center;
    font-size: 20px;
}

.parameter label
{
    text-align: start;
    text-transform: none;
}

#nb-des
{
    padding: 10px;
    color: #400101;
    font-family: 'pixel';
    font-size: 20px;
    border: 2px solid #400101;
    border-radius: 10px;
    background-color: transparent;
}

.conteneur-btn-parametre-joueurs
{
    margin-top: 20px;
}

.btn-dans-parametre
{
    padding: 10px;
    color: #400101;
    font-size: 18px;
    font-family: 'pixel';
    border: 3px solid #400101;
    border-radius: 10px;
    background-color: #ffc50f;
    cursor: pointer;
}

.parameter.open {
right: 0;
}

.validation
{
    padding: 10px;
    color: white;
    background-color: #2198a6;
    border: 3px solid #400101;
    border-radius: 10px;
    font-family: 'pixel';
    font-size: 20px;
    cursor: pointer;
}

/*===========================================================================*/
/* Style logo parametre */
/*===========================================================================*/

.icon-button
{
    width: 100%;
    max-width: 250px;
    height: auto;
    background: none; 
    border: none; 
    padding: 0; 
    cursor: pointer;
    margin: 10px;
}

.icon-button img
{
    margin: 20px 20px 20px 20px;;
    width: 50px;
    max-width: 120px;
    height: auto;
    transition: transform 0.3s ease-out;
}

.icon-button img:hover
{
    transform: scale(1.05);
}

.overlay {
position: fixed;
top: 0;
left: 0;
width: 100vw;
height: 100vh;
background: rgba(0, 0, 0, 0.3);
opacity: 0;
visibility: hidden;
pointer-events: none;
transition: opacity 0.3s ease;
}
.overlay.active {
    opacity: 0;
    visibility: visible;
    pointer-events: auto;
}

main
{
    margin-top: 20px;
    height: 100vh;
    background-color: #FFFCEE;
    border-radius: 20px;
    border: 2px solid #400101;
}

.zone-jeu {
display: flex;
flex-direction: column;
gap: 1rem; 
}

/*===========================================================================*/
/*Modale ajouter un joueur*/
/*===========================================================================*/

.modale{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    border: 3px solid #400101;
    box-shadow: -5px 5px 0px 5px #ffc50f;
}

.vue{
    padding: 20px;
    background-color: #fdfaf4;
    font-family: 'pixel';

    width: auto; 
    min-width: 0;
    max-width: 90vw;
}

.conteneur-ajout
{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.input
{
    padding: 10px;
    color: #400101;
    font-family: 'pixel';
    font-size: 20px;
    border: 2px solid #400101;
    border-radius: 10px;
    background-color: transparent;
}

.liste-joueur
{
    margin-top: 50px;
}

.liste-joueur ul
{
    list-style-type: none;
    padding: 0;
}

.liste-joueur ul li
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid #2198a6;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;
}

.liste-ancien-joueur ul
{
    list-style-type: none;
    padding: 0;
}

.liste-ancien-joueur ul li
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border: 2px solid #2198a6;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 20px;

}

.ajout-joueur{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    gap: 10px;
}

.btn-rouge
{
    padding: 10px;
    color: white;
    background-color: #f25430;
    border: 3px solid #400101;
    border-radius: 10px;
    font-family: 'pixel';
    font-size: 20px;
    cursor: pointer;
}

.hidden{
    display: none;
}

.supprJoueur{
    max-width: 40px;
    width: 18%;
    cursor: pointer;
}


.ajouterJoueur{
    max-width: 40px;
    width: 18%;
    cursor: pointer;
}

/* Exemple de style CSS pour le message */
#notification.hidden {
    display: none; /* Ou */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

#notification {
    /* Styles pour rendre le message visible, par exemple : */
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
}

/*===========================================================================*/
/*Gestion des*/
/*===========================================================================*/

.des {
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 40px;
    padding: 20px;
}

.des svg {
    width: 180px; 
    height: 180px; 
    max-width: 100%; 
}