
body {
    font-family: sans-serif;
    background: #fdfaf4;
    margin: 0;
    padding: 10px;
}

.container{
    text-align: center;
    width: 100%;
}

nav
{
    background-color: #CBF3BB;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 20px 0 20px;
    position: relative;
}

.parameter
{
    position: fixed;
    top : 0%;
    right: -100%;
    height: 50vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 20px;
    background-color: #ABE7B2;
    padding: 20px;
    border-radius: 10px;
    transition: right 0.3s ease; 
    z-index: 10;
}

.parameter.open {
  right: 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.overlay.active {
    opacity: 0;
    visibility: visible;
    pointer-events: auto;
}

main
{
    height: 100vh;
    background-color: #93BFC7;
}

.zone-jeu {
  display: flex;
  flex-direction: column;
  gap: 1rem; 
}

/*Modale ajouter un joueur*/
.modale{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 10px;

}

.vue{
    padding: 30px;
    background-color: #FF8040;
}

.ajout-joueur{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    width: 100%;
    gap: 10px;
}

.hidden{
    display: none;
}

.supprJoueur{
    color: white;
    cursor: pointer;
}

.supprJoueur:hover{
    color: red;
    cursor: pointer;
}

.ajouterJoueur{
    color: white;
    cursor: pointer;
}

.ajouterJoueur:hover{
    color: green;
    cursor: pointer;
}

/* Exemple de style CSS pour le Toast */
#notification.hidden {
    display: none; /* Ou */
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
}

#notification {
    /* Styles pour rendre le message visible, par exemple : */
    position: fixed;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    z-index: 1000;
}